# Tuple creation

In [3]:
y = ("apple", "banana", "cherry")
print(y)

('apple', 'banana', 'cherry')

# Allow duplicates

In [4]:
x = ("apple", "banana", "cherry", "apple", "cherry")
print(x)

('apple', 'banana', 'cherry', 'apple', 'cherry')

# Tuple length

In [5]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

# Different datatypes

In [6]:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

# Using tuple() constructor

In [7]:
q = tuple(("apple", "banana", "cherry"))
print(q)

('apple', 'banana', 'cherry')

# Accessing elements

In [8]:
w = ("apple", "banana", "cherry")
print(w[1])

banana

# Slicing

In [9]:
e = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(e[2:5])
print(e[:4])
print(e[-4:-1])

('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')
('orange', 'kiwi', 'melon')

# Convert tuple to list and back

In [10]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

# Delete tuple

In [11]:
thistuple = ("apple", "banana", "cherry")
del thistuple

# Using asterisk

In [12]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(green, *tropic, red) = fruits
print(green, tropic, red)

apple ['mango', 'papaya', 'pineapple'] cherry

# Loop through tuple

In [13]:
i = ("apple", "banana", "cherry")
for x in i:
    print(x)

apple
banana
cherry

# Tuple with repeated elements

In [14]:
repeated_tuple = tuple(range(3)) * 3
print(repeated_tuple)

(0, 1, 2, 0, 1, 2, 0, 1, 2)

# While loop

In [15]:
tuple2 = ("apple", "banana", "cherry")
i = 0
while i < len(tuple2):
    print(tuple2[i])
    i += 1

apple
banana
cherry

# Join tuples

In [16]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
joined_tuple = tuple1 + tuple2
print("Joined tuple:", joined_tuple)

Joined tuple: (1, 2, 3, 4, 5, 6)

# Multiply tuple

In [17]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Count and index methods

In [18]:
Tuple1 = (0, 1, 2, 3, 2, 3, 1, 3, 2)
print('Count of 3:', Tuple1.count(3))
Tuple2 = ('python', 'geek', 'python')
print('Count of python:', Tuple2.count('python'))

fruits_tuple = ("apple", "banana", "cherry", "banana")
print(fruits_tuple.index("banana"))
try:
    fruits_tuple.index("mango")
except ValueError:
    print("Element 'mango' not found in the tuple")

Count of 3: 3
Count of python: 2
1
Element 'mango' not found in the tuple

# Built-in functions

In [19]:
numbers_list = [1, 2, 3, 4, 5]
numbers_tuple = (6, 7, 8)
print("Length of list:", len(numbers_list))
print("Length of tuple:", len(numbers_tuple))

numbers_list = [1, 2, 3, 4, 5]
print("Sum of numbers_list:", sum(numbers_list))
numbers_tuple = (10, 20, 30)
print("Sum of numbers_tuple:", sum(numbers_tuple))

numbers_list = [1, 5, 2, 8, 3]
print("Largest number in list:", max(numbers_list))
numbers_tuple = (10, 20, 30)
print("Largest number in tuple:", max(numbers_tuple))

numbers_list = [1, 5, 2, 8, 3]
print("Smallest number in list:", min(numbers_list))
numbers_tuple = (10, 20, 30)
print("Smallest number in tuple:", min(numbers_tuple))

numbers_list = [1, 5, 2, 8, 3]
print("Sorted list:", sorted(numbers_list))
numbers_tuple = (10, 20, 30, 4, 5)
print("Sorted tuple:", sorted(numbers_tuple))

Length of list: 5
Length of tuple: 3
Sum of numbers_list: 15
Sum of numbers_tuple: 60
Largest number in list: 8
Largest number in tuple: 30
Smallest number in list: 1
Smallest number in tuple: 10
Sorted list: [1, 2, 3, 5, 8]
Sorted tuple: [4, 5, 10, 20, 30]

# Hands-on exercises

In [20]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0], fruits[-1])

numbers = [1, 2, 3, 4, 5]
print(numbers[1:4], numbers[2:])

original_list = [6, 7, 8]
copy_list = original_list[:]
print(copy_list)

letters = ['a', 'b', 'c', 'd']
print(letters[::-1])

message = "Hello, world! How is your day?"
print("Count of 'o':", message.count('o'))

numbers = [1, 2, 2, 3, 1, 4, 2]
print("Count of 2:", numbers.count(2))

apple cherry
[2, 3, 4] [3, 4, 5]
[6, 7, 8]
['d', 'c', 'b', 'a']
Count of 'o': 4
Count of 2: 3

In [21]:
numbers_list = [1, 2, 3, 4, 5]
numbers_tuple = (6, 7, 8, 9)
print("Length of list:", len(numbers_list))
print("Length of tuple:", len(numbers_tuple))

Length of list: 5
Length of tuple: 4

In [22]:

fruits_list = ["apple", "banana", "cherry"]
fruits_tuple = ("mango", "kiwi", "grape")
print("Smallest fruit in list:", min(fruits_list))
print("Smallest fruit in tuple:", min(fruits_tuple))

Smallest fruit in list: apple
Smallest fruit in tuple: grape

In [23]:
numbers_list = [1, 5, 2, 8]
numbers_tuple = (3, 7, 9, 0)
print("Largest number in list:", max(numbers_list))
print("Largest number in tuple:", max(numbers_tuple))

Largest number in list: 8
Largest number in tuple: 9

In [24]:
mixed_list = [3, 9.5, True, "apple"]
try:
    mixed_list.sort()
    print("Sorted list:", mixed_list)
except TypeError:
    print("Cannot sort list with mixed data types")

numbers_list = [4, 7, 2, 11]
numbers_tuple = (6, 3, 8, 1)
print("Sum of list elements:", sum(numbers_list))
print("Sum of tuple elements:", sum(numbers_tuple))

Cannot sort list with mixed data types
Sum of list elements: 24
Sum of tuple elements: 18