## Lists

In [107]:
# Basic List Operations
names = ["Alice", "Bob", "Charlie"]

# Append

In [108]:
names.append("David")
print(f"Append: {names}")

Append: ['Alice', 'Bob', 'Charlie', 'David']

# Insert

In [109]:
names.insert(1, "Eve")
print(f"Insert: {names}")

Insert: ['Alice', 'Eve', 'Bob', 'Charlie', 'David']

# Remove

In [110]:
names.remove("Bob")
print(f"Remove: {names}")

Remove: ['Alice', 'Eve', 'Charlie', 'David']

# Copy

## Shallow Copy

In [111]:
names_shallow_copy = names.copy()
names_shallow_copy[0] = "Frank"
print(f"Shallow Copy: {names_shallow_copy}, Original: {names}")

Shallow Copy: ['Frank', 'Eve', 'Charlie', 'David'], Original: ['Alice', 'Eve', 'Charlie', 'David']

# Deep Copy

In [112]:
import copy
names_deep_copy = copy.deepcopy(names)
names_deep_copy[0] = "Grace"
print(f"Deep Copy: {names_deep_copy}, Original: {names}")

Deep Copy: ['Grace', 'Eve', 'Charlie', 'David'], Original: ['Alice', 'Eve', 'Charlie', 'David']

# Count

In [113]:
names.append("Alice")
alice_count = names.count("Alice")
print(f"Count of 'Alice': {alice_count}")

Count of 'Alice': 2

# Extend

In [114]:
more_names = ["Hannah", "Ivan"]
names.extend(more_names)
print(f"Extend: {names}")

Extend: ['Alice', 'Eve', 'Charlie', 'David', 'Alice', 'Hannah', 'Ivan']

# Index

In [115]:
alice_index = names.index("Alice")
print(f"Index of 'Alice': {alice_index}")

Index of 'Alice': 0

# Sort

In [116]:
names.sort()
print(f"Sort: {names}")

Sort: ['Alice', 'Alice', 'Charlie', 'David', 'Eve', 'Hannah', 'Ivan']

# Reverse

In [117]:
names.reverse()
print(f"Reverse: {names}")

Reverse: ['Ivan', 'Hannah', 'Eve', 'David', 'Charlie', 'Alice', 'Alice']

# Clear

In [118]:
names.clear()
print(f"Clear: {names}")

Clear: []

# Pop

In [119]:

removed_name = more_names.pop()
print(f"Pop: {removed_name}, Remaining: {more_names}")

Pop: Ivan, Remaining: ['Hannah']

# List Comprehension

## Create a list of name lengths

In [120]:
name_lengths = [len(name) for name in ["Alice", "Bob", "Charlie", "David"]]
print("Name lengths:", name_lengths)

Name lengths: [5, 3, 7, 5]

# Create a list of names in uppercase

In [121]:
uppercase_names = [name.upper() for name in ["Alice", "Bob", "Charlie", "David"]]
print("Uppercase names:", uppercase_names)

Uppercase names: ['ALICE', 'BOB', 'CHARLIE', 'DAVID']

# Create a list of tuples with names and their lengths

In [122]:
name_length_pairs = [(name, len(name)) for name in ["Alice", "Bob", "Charlie", "David"]]
print("Name-Length pairs:", name_length_pairs)

Name-Length pairs: [('Alice', 5), ('Bob', 3), ('Charlie', 7), ('David', 5)]

# Flatten a nested list of names

In [123]:
nested_names = [["Alice", "Bob"], ["Charlie", "David"], ["Eve", "Frank"]]
flattened_names = [name for sublist in nested_names for name in sublist]
print("Flattened names:", flattened_names)

Flattened names: ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank']

# Indexing

In [124]:
# Create a list of names
names = ["Alice", "Bob", "Charlie", "David", "Eve"]

# Accessing elements using positive indexing

In [125]:
first_name = names[0]
second_name = names[1]
last_name = names[-1]
print("First name:", first_name)
print("Second name:", second_name)
print("Last name:", last_name)

First name: Alice
Second name: Bob
Last name: Eve

# Accessing elements using negative indexing

In [126]:
second_last_name = names[-2]
third_last_name = names[-3]
print("Second last name:", second_last_name)
print("Third last name:", third_last_name)

Second last name: David
Third last name: Charlie

# Get the value of an element at a specific index

In [127]:
middle_name = names[2]
print("Middle name:", middle_name)

Middle name: Charlie

# Change the value of an element at a specific index

In [128]:
names[1] = "Frank"
print("Updated names:", names)

Updated names: ['Alice', 'Frank', 'Charlie', 'David', 'Eve']

# Slicing

# Slice from index 1 to 4

In [129]:
subset1 = names[1:4]
print("Positive Slicing:", subset1)

Positive Slicing: ['Frank', 'Charlie', 'David']

# Slice with a step

In [130]:
subset2 = names[1:6:2]
print("Positive Slicing with Step:", subset2)

Positive Slicing with Step: ['Frank', 'David']

# Slice the last three elements

In [131]:
subset3 = names[-3:]
print("Negative Slicing:", subset3)

Negative Slicing: ['Charlie', 'David', 'Eve']

# Slice from the second to last to the fourth to last

In [132]:
subset4 = names[-2:-5:-1]
print("Negative Slicing with Reverse:", subset4)

Negative Slicing with Reverse: ['David', 'Charlie', 'Frank']

# Extract a portion of the list

In [133]:
middle_subset = names[2:5]
print("Retrieve a Portion:", middle_subset)

Retrieve a Portion: ['Charlie', 'David', 'Eve']

# Update elements within a slice

In [134]:
names[1:3] = ["Grace", "Hannah"]
print("Update a Slice:", names)

Update a Slice: ['Alice', 'Grace', 'Hannah', 'David', 'Eve']

# Remove elements within a slice

In [135]:
del names[2:4]
print("Delete a Slice:", names)

Delete a Slice: ['Alice', 'Grace', 'Eve']

# Add elements into a specific position

In [136]:
names[1:1] = ["Ivan", "Jack"]
print("Insert into a Slice:", names)

Insert into a Slice: ['Alice', 'Ivan', 'Jack', 'Grace', 'Eve']

# Searching and Sorting

In [137]:
# Create a list of names
names = ["Alice", "Bob", "Charlie", "David", "Eve"]

# Check if "Charlie" is in the list of names

In [138]:
has_charlie = "Charlie" in names
print("Is 'Charlie' in the list?", has_charlie)

Is 'Charlie' in the list? True

# Find the index of "David" in the list

In [139]:
david_index = names.index("David")
print("Index of 'David':", david_index)

Index of 'David': 3

# Sort the list of names in ascending order

In [140]:
names.sort()
print("Names sorted in ascending order:", names)

Names sorted in ascending order: ['Alice', 'Bob', 'Charlie', 'David', 'Eve']


# Sort the list of names in descending order

In [141]:
names.sort(reverse=True)
print("Names sorted in descending order:", names)

Names sorted in descending order: ['Eve', 'David', 'Charlie', 'Bob', 'Alice']

# Special Methods

In [142]:
from functools import reduce

# Calculate the sum of a list of lengths of names using `reduce`

In [143]:
name_lengths = [len(name) for name in ["Alice", "Bob", "Charlie", "David"]]
total_length = reduce(lambda x, y: x + y, name_lengths)
print("Total length of names using reduce:", total_length)

Total length of names using reduce: 20

# Create a list of name initials using `map`

In [144]:
name_initials = list(map(lambda name: name[0], ["Alice", "Bob", "Charlie", "David"]))
print("Name initials using map:", name_initials)

Name initials using map: ['A', 'B', 'C', 'D']

# Filter names with more than 3 letters

In [145]:
long_names = list(filter(lambda name: len(name) > 3, ["Alice", "Bob", "Charlie", "David"]))
print("Names with more than 3 letters using filter:", long_names)

Names with more than 3 letters using filter: ['Alice', 'Charlie', 'David']

# Zip two lists to create pairs of names and ages

In [146]:
ages = [25, 30, 35, 40]
name_age_pairs = list(zip(["Alice", "Bob", "Charlie", "David"], ages))
print("Zipped names and ages:", name_age_pairs)

Zipped names and ages: [('Alice', 25), ('Bob', 30), ('Charlie', 35), ('David', 40)]