# Dictionaries

# Merge Two Dictionaries
We have two dictionaries of people with their ages, and we want to merge them,
with the second dictionary's values overwriting the first's in case of duplicate keys.

In [ ]:
def merge_dicts(dict1, dict2):
    merged = dict1.copy()
    merged.update(dict2)
    return merged

dict1 = {'Harsha': 25, 'Prathmesh': 30}
dict2 = {'Prathmesh': 35, 'Shojit': 28, 'Yash': 22}

merged_dict = merge_dicts(dict1, dict2)
print(merged_dict)  # Output: {'Harsha': 25, 'Prathmesh': 35, 'Shojit': 28, 'Yash': 22}

# Invert a Dictionary
We have a dictionary of names with their ages and want to invert it so that 
the ages become keys and names become values.

In [ ]:
def invert_dict(dictionary):
    inverted = {value: key for key, value in dictionary.items()}
    return inverted

original_dict = {'Harsha': 25, 'Prathmesh': 30, 'Shojit': 28}
inverted_dict = invert_dict(original_dict)
print(inverted_dict)  # Output: {25: 'Harsha', 30: 'Prathmesh', 28: 'Shojit'}

# Sort a Dictionary by Value

In [ ]:
def sort_dict_by_value(dictionary):
    sorted_dict = dict(sorted(dictionary.items(), key=lambda x: x[1]))
    return sorted_dict

unsorted_dict = {'Yash': 22, 'Sai': 24, 'Shivam': 26}
sorted_dict = sort_dict_by_value(unsorted_dict)
print(sorted_dict)  # Output: {'Yash': 22, 'Sai': 24, 'Shivam': 26}

# Remove Duplicate Values from a Dictionary

In [ ]:
def remove_duplicate_values(dictionary):
    unique_values = {}
    for key, value in dictionary.items():
        if value not in unique_values.values():
            unique_values[key] = value
    return unique_values

original_dict = {'Harsha': 25, 'Prathmesh': 30, 'Shojit': 25, 'Yash': 30, 'Shivam': 28}
unique_dict = remove_duplicate_values(original_dict)
print(unique_dict)  # Output: {'Harsha': 25, 'Prathmesh': 30, 'Shivam': 28}

# Group Data by Key

In [ ]:
def group_by_key(data, key):
    grouped = {}
    for item in data:
        value = item[key]
        if value in grouped:
            grouped[value].append(item)
        else:
            grouped[value] = [item]
    return grouped

data = [
    {'name': 'Harsha', 'age': 25, 'city': 'Hyderabad'},
    {'name': 'Prathmesh', 'age': 30, 'city': 'Mumbai'},
    {'name': 'Shojit', 'age': 28, 'city': 'Kolkata'},
    {'name': 'Yash', 'age': 22, 'city': 'Hyderabad'},
    {'name': 'Shivam', 'age': 26, 'city': 'Delhi'},
    {'name': 'Sai', 'age': 24, 'city': 'Mumbai'},
    {'name': 'Venu', 'age': 29, 'city': 'Chennai'}
]

grouped_by_city = group_by_key(data, 'city')
print(grouped_by_city)